.profile__edit-button{
    color: #fff;
    max-width: 24px;
    max-height: 24px;
    align-self: center;
}

.profile__edit-button:hover{
    opacity: 0.6;
    transition: 0.5s;
    cursor: pointer;
}

@media screen and (max-width: 500px){
    .profile__edit-button{
        max-width: 20px;
        min-height: 20px;
    }
}

@media screen and (max-width: 320px){
    .profile__edit-button{
        max-width: 18px;
        min-height: 18px;
    }
}