.profile__edit-button {
    color: #fff;
    width: 24px;
    height: 24px;
    align-self: center;
    background-image: url(../../../images/Edit_Button.svg);
    padding: 0;
    border-style: none;
    background-color: rgba(0, 0, 0, 0);

}

.profile__edit-button:hover {
    opacity: 0.6;
    transition: 0.5s;
    cursor: pointer;
}

/*@media screen and (max-width: 500px){
    .profile__edit-button{
        max-width: 20px;
        min-height: 20px;
    }
}*/

@media screen and (max-width: 320px){
    .profile__edit-button{
        max-width: 18px;
        min-height: 18px;
        background-image: url(../../../images/Edit-Button-small.svg);
        background-repeat: no-repeat;
    }
}