.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 361px);
    column-gap: 17px;
    row-gap: 20px;
    padding-top: 50px;
}

@media screen and (max-width: 910px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 361px);
    }
}

@media screen and (max-width: 640px) {
    .gallery {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 361px);
    }
}

@media screen and (max-width: 320px) {
    .gallery {
        padding-top: 36px;
    }
}