.popup__container {
    width: 430px;
    /*height: 330px;*/
    position: relative;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
   /* margin-top: 195px;*/
    margin-left: calc((100% - 430px) / 2);
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 550px) {
    .popup__container {
        width: 282px;
        /*height: 322px;*/
        margin-left: calc((100% - 282px) / 2);
        /*margin-top: 123px;*/
    }
}