.popup__form-submit-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 320px){
    .popup__form-submit-text{
        font-size: 14px;
        line-height: 1.2;
    }
}