.profile {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top: 40px;
    align-items: center;
}

@media screen and (max-width: 950px) {
    .profile {
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 320px) {
    .profile {
        padding: 42px 19px 0 19px;
    }
}