.header__line{
    max-width: 880px;
    min-height: 0;
    border: 1px hwb(0 33% 67% / 0.7) solid;
    margin-top: 41px;
    align-self: stretch;
}

@media screen and (max-width: 320px) {
    .header__line {
        margin-top: 31.6px;
    }
}