.header__logo {
    max-width: 142px;
    min-height: 33px;
    color: #fff;
}

@media screen and (max-width: 500px) {
    .header__logo {
        margin-left: 40px;
    }
}

@media screen and (max-width: 320px) {
    .header__logo {
        max-width: 103.74px;
        min-height: 24.4px;
        margin-left: 27px;
    }
}