.popup__form-title{
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    margin: 0;
    padding-bottom: 54px;
}

@media screen and (max-width: 320px){
    .popup__form-title{
        font-size: 18px;
        padding-bottom: 75px;
    }
}