.header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding-top: 45px;
    padding-left: 15.625%;
    padding-right: 15.625%;
}

@media  screen and (max-width: 1084px) {
    .header{
    padding: 45px 100px 0 100px;
    }
}

@media  screen and (max-width: 768px) {
    .header{
    padding: 45px 50px 0 50px;
    }
}

@media screen and (max-width: 500px){
    .header{
        padding: 35px 0 0 0;
    }
}

@media  screen and (max-width: 320px) {
    .header{
    padding: 28px 0 0 0;
    }
}