.popup__container_zoom{
    max-width: 75vw;
    max-height: 75vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    background: none;
    border: none;
    box-shadow: none;
    width: auto;
}