.profile__name {
    font-weight: 500;
    font-size: 42px;
    max-width: 336px;
    line-height: 1.14;
    color: #fff;
    margin: 0;
    text-overflow: ellipsis;   
    white-space: nowrap;   
    overflow: hidden;
}

@media screen and (max-width: 950px) {
    .profile__name {
        text-align: center;
    }
}


@media screen and (max-width: 500px) {
    .profile__name {
        font-size: 35px;
    }
}

@media screen and (max-width: 320px) {
    .profile__name {
        font-size: 27px;
        line-height: 1.2;
    }
}