.popup__zoom-close {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    background-image: url('../../../images/Close-Icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(0 0 0 / 0%);
    border-style: none;
}

.popup__zoom-close:hover {
    opacity: 0.6;
    transition: 0.5s;
    cursor: pointer;
}

@media screen and (max-width:550px) {
    .popup__zoom-close {
        width: 20px;
        height: 20px;
        background-image: url(../../../images/Close-Icon-small.svg);
        right: 0;
        top: -35px;
    }
}