.popup__close-icon{
    width: 32px;
    height: 32px;
    position: absolute;
    left: calc(((100% - 430px) / 2) + 438px);
    top: 155px;
    background-image: url('../../../images/Close_Icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border-style: none;
}

.popup__close-icon:hover{
    opacity: 0.6;
    transition: 0.5s;
    cursor: pointer;
}

@media screen and (max-width:550px) {
    .popup__close-icon{
        width: 20px;
        height: 20px;
        left: calc(((100% - 282px) / 2) + 262px);
        top: 87px;
    }
}