.profile__add-button {
    width: 150px;
    height: 50px;
    /* border: 2px #fff solid;
    border-radius: 2px;*/
    background-image: url(../../../images/Add-Button.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    background-repeat: no-repeat;
}

.profile__add-button:hover {
    opacity: 0.6;
    transition: 0.5s;
    cursor: pointer;
}

@media screen and (max-width: 950px) {
    .profile__add-button {
        width: 282px;
        background-image: url(../../../images/Add-Button-big.svg);
    }
}

/*@media screen and (max-width: 320px){
    .profile__add-button{
        width: 282px;
        height: 50px;
    }
}*/