.gallery__card-like {
    width: 22px;
    height: 19px;
    padding-top: 5px;
    background-image: url(../../../images/like-button.svg);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    align-self: center;
}

.gallery__card-like:hover {
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
}