.profile__info {
    display: grid;
    column-gap: 18px;
    row-gap: 16px;
    grid-template-columns: max-content min-content;
    grid-template-rows: auto;
    padding-left: 30px;
    padding-right: 244px;
}

@media screen and (max-width: 950px) {
    .profile__info {
        padding: 36px 0 46px 0;
    }
}

@media screen and (max-width: 320px) {
    .profile__info {
        row-gap: 14px;
        column-gap: 10px;
        padding: 25px 0 30px 25px;
    }
}