.footer{
    align-self: start;
    padding-top: 66px;
    padding-bottom: 60px;
    padding-left: 15.625%;
}

@media screen and (max-width: 320px) {
    .footer{
        padding: 48px 19px 36px 19px;
    }
    
}