.header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding-top: 45px;
    margin-left: 15.625%;
    margin-right: 15.625%;
    border-bottom: rgba(84, 84, 84, 0.7) 1px solid;
    align-self: stretch;
}

/*@media screen and (max-width: 1084px) {
    .header {
        padding: 45px 100px 0 100px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 45px 50px 0 50px;
    }
}*/

@media screen and (max-width: 500px) {
    .header {
        padding: 25px 0 0 0;
        margin: 0;
    }
}